*{
  padding: 0px;
  margin: 0px;
  }

.App {
  background-color: #2797b6;
  text-align: center;
  height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #eceff5;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius:10px;
  font-size: calc(10px + 2vmin);
  color: rgb(41, 37, 37);
}

.App-link {
  color: #61dafb;
}

.select-panel {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.select-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  margin-top: 5%;
  width: 80vh;
  height: 60vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
